.fakeimg {
  width: "50%"
}

.title {
  font-size: 12px;
}

.subtitle {
  font-size: 3px;
}

.judge {
  background-color: aquamarine;
}

.judge2 {
  background-color: #ffa87f;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;

}