<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/echarts.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- 引入bootstrap樣式 -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<!-- 引入bootstrap-table樣式 -->
	<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
	<!--export-->
	<script
		src="https://cdn.bootcss.com/bootstrap-table/1.14.2/extensions/export/bootstrap-table-export.min.js"></script>
	<!--在客户端保存生成的导出文件-->
	<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
	<!--以XLSX（Excel 2007+ XML格式）格式导出表（SheetJS）-->
	<script src="https://cdn.bootcss.com/xlsx/0.14.2/xlsx.core.min.js"></script>
	<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>



	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
	<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

	<!-- 打開各別搜尋 -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>


	<!-- jquery及bootstrapjs -->
	<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- bootstrap-table.min.js -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script> -->
	<!-- <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>  -->
	<!-- 引入中文語言包 -->
	<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- bootstrap-table-export數據導出---後面兩個是Excel2007所需要的js -->
	<script src="${basePath }/js/bootstrap-table-export.js"></script>
	<script src="${basePath }/js/tableExport.min.js"></script>
	<script src="${basePath }/js/xlsx.core.min.js"></script>
	<script src="${basePath }/js/FileSaver.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark darken py-0 shadow-sm">
		<div class="container-fluid">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active fw-bold title" aria-current="page" href="index.html"
						style="color:#6f6f6f;font-size:15px;margin-left: 40px;">即時監控</a>
					<a class="nav-link active fw-bold title" aria-current="page" href="page2.html"
						style="color:#6f6f6f;font-size:15px;margin-left: 40px;">數據收集狀況監測</a>
				</div>
			</div>
		</div>
	</nav>





	<div class="col-md-6">
		<!-- 下1---------------------------------------------------------------------------------------------- -->
		<div class="card" style="height:850px;">
			<div class="card-header title py-1">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<div class="col-form-label subtitle p-0">資料庫</div>
					</div>
				</div>
			</div>

			<div class="card-body p-0 ">

				<div id="toolbar">
					<select class="form-control">
						<option value="">Export Basic</option>
						<option value="all">Export All</option>
						<option value="selected">Export Selected</option>
					</select>
				</div>


				<table id="table" data-toggle="table" data-search="true" data-filter-control="true"
					data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
					<thead>
						<tr>
							<th data-field="state" data-checkbox="true"></th>
							<th data-field="play" data-filter-control="input" data-sortable="true">錄影開始時間</th>
							<th data-field="stop" data-filter-control="select" data-sortable="true">錄影終止時間</th>
							<th data-field="sec" data-filter-control="select" data-sortable="true">總秒數</th>

							<th data-field="thermal1" data-filter-control="select" data-sortable="true">熱像中文名-1</th>
							<th data-field="thermal2" data-filter-control="select" data-sortable="true">熱像中文名-2</th>
							<th data-field="thermal3" data-filter-control="input" data-sortable="true">熱像中文名-3</th>

							<th data-field="maxTemp1" data-filter-control="select" data-sortable="true">最高溫度-1</th>
							<th data-field="maxTemp2" data-filter-control="select" data-sortable="true">最高溫度-2</th>
							<th data-field="maxTemp3" data-filter-control="input" data-sortable="true">最高溫度-3</th>

							<th data-field="shootingTime" data-filter-control="select" data-sortable="true">拍照時間</th>

							<th data-field="alertPixels1" data-filter-control="select" data-sortable="true">警示大於像素-1
							</th>
							<th data-field="alertPixels2" data-filter-control="input" data-sortable="true">警示大於像素-2</th>
							<th data-field="alertPixels3" data-filter-control="select" data-sortable="true">警示大於像素-3
							</th>


						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
							<td>13:00</td>
							<td>13:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>45°C</td>
							<td>46°C</td>
							<td>47°C</td>

							<td>13:04</td>

							<td>15px</td>
							<td>15px</td>
							<td>15px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="1" name="btSelectItem" type="checkbox"></td>
							<td>09:00</td>
							<td>09:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>41°C</td>
							<td>42°C</td>
							<td>43°C</td>

							<td>09:04</td>

							<td>18px</td>
							<td>18px</td>
							<td>18px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="2" name="btSelectItem" type="checkbox"></td>
							<td>22:00</td>
							<td>22:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>58.5°C</td>
							<td>59.5°C</td>
							<td>60.5°C</td>

							<td>22:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="3" name="btSelectItem" type="checkbox"></td>
							<td>05:00</td>
							<td>05:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>24.5°C</td>
							<td>25.5°C</td>
							<td>26.5°C</td>

							<td>05:04</td>

							<td>12px</td>
							<td>12px</td>
							<td>12px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="4" name="btSelectItem" type="checkbox"></td>
							<td>03:00</td>
							<td>03:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>48.5°C</td>
							<td>49.5°C</td>
							<td>50.5°C</td>

							<td>03:04</td>

							<td>35px</td>
							<td>35px</td>
							<td>35px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="6" name="btSelectItem" type="checkbox"></td>
							<td>07:00</td>
							<td>07:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>25.5°C</td>
							<td>26.5°C</td>
							<td>27.5°C</td>

							<td>13:04</td>

							<td>19px</td>
							<td>19px</td>
							<td>19px</td>
						</tr>
						<tr>
							<td class="bs-checkbox "><input data-index="5" name="btSelectItem" type="checkbox"></td>
							<td>06:00</td>
							<td>06:07</td>
							<td>7s</td>

							<td>L/F 副料區</td>
							<td>出鋼室地下樓梯</td>
							<td>L/D 2F平台</td>


							<td>43.5°C</td>
							<td>43.5°C</td>
							<td>42.5°C</td>

							<td>06:04</td>

							<td>8px</td>
							<td>8px</td>
							<td>8px</td>
						</tr>


					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<!-- 下1---------------------------------------------------------------------------------------------- -->
		<div class="card" style="height:316px;">
			<div class="card-header title py-1">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<div class="col-form-label subtitle p-0">錄影回放</div>
					</div>
					<div class="col-auto">

						<select id="videoSelect" class="subtitle" style="border: 1px solid gainsboro;">
							<option value="1">20220330_T111815</option>
							<option value="2">20220330_T111829</option>
							<option value="3">20220330_T111847</option>
							<option value="4">20220330_T111904</option>
							<option value="5">20220330_T111926</option>
						</select>

					</div>
				</div>
			</div>
			<div class="card-body p-0 ">
				<div class="row  align-items-center tri subtitle">
					<div class="col-4">
						&nbsp;&nbsp;&nbsp;L/F 副料區
					</div>
					<div class="col-4">
						&nbsp;&nbsp;&nbsp;出鋼室地下樓梯
					</div>
					<div class="col-4">
						&nbsp;&nbsp;&nbsp;L/D 2F平台
					</div>
				</div>
				<div class="gap"></div>
				<div class="gap2"></div>
				<video id="videoList" loop controls muted preload src="static/mock_vod/20220330_T111815.mp4"
					class="video imgCenter">
				</video>
				<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<!-- <div ref="main" style="width: 600px;height:400px;"></div> -->

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<!-- 下1---------------------------------------------------------------------------------------------- -->
		<div class="card" style="height:316px;">
			<div class="card-header title py-1">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<div class="col-form-label subtitle p-0">曲線圖</div>
					</div>
					<div class="col-auto">



					</div>
				</div>
			</div>
			<div class="card-body p-0 ">

				<!-- <div class="gap"></div>
	  <div class="gap2"></div> -->
				<!-- <video id="videoList" loop controls muted preload src="static/mock_vod/20220330_T111815.mp4"
		class="video imgCenter">
	  </video> -->
				<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<div id="main" style="width: 900px;height:300px;"></div>

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<!-- 下1---------------------------------------------------------------------------------------------- -->
		<div class="card" style="height:316px;">
			<div class="card-header title py-1">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<div class="col-form-label subtitle p-0">錄影回放</div>
					</div>
					<div class="col-auto">



					</div>
				</div>
			</div>
			<div class="card-body p-0 ">

				<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<div id="main" style="width: 900px;height:300px;"></div>

			</div>
		</div>
	</div>


	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));




		// 指定图表的配置项和数据
		var option = {
			title: {
				// text: ''
			},
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
			},
			yAxis: {
				type: 'value'
			},
			series: [
				{
					name: 'Email',
					type: 'line',
					stack: 'Total',
					data: [120, 132, 101, 134, 90, 230, 210],
					smooth: true

				},
				{
					name: 'Union Ads',
					type: 'line',
					stack: 'Total',
					data: [220, 182, 191, 234, 290, 330, 310],
					smooth: true
				},
				{
					name: 'Video Ads',
					type: 'line',
					stack: 'Total',
					data: [150, 232, 201, 154, 190, 330, 410],
					smooth: true
				},

			]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>

<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart2 = echarts.init(document.getElementById('main2'));




	// 指定图表的配置项和数据
	var option = {
        // color: colorPalette,
        tooltip: {
          position: 'top',
          // trigger: 'item',
     formatter(params) {
       if (params.value[2]<=2){
         return params.value[0] + ":" + params.value[1] + "0" + '<br/>' + "已收集了" + params.value[2] + "/5筆資料" + '<br/>' + "• 異常-資料丟失率<10% (單日)";
       }else if(params.value[2]<=3){
        return params.value[0] + ":" + params.value[1] + "0" + '<br/>' + "已收集了" + params.value[0] + "/5筆資料"  + '<br/>' + "• 些微異常-資料丟失率<5% (單日)";
       }else if(params.value[2]<=4){
        return params.value[0] + ":" + params.value[1] + "0" + '<br/>' + "已收集了" + params.value[0] + "/5筆資料"  + '<br/>' + "• 良好-資料丟失率<2.5% (單日)";
       }else if(params.value[2]===""){
        return params.value[0] + ":" + params.value[1] + "0" + '<br/>' + "已收集了" + params.value[0] + "/5筆資料"  + '<br/>' + "• 資料丟失";
       }
       else{
         return params.value[0] + ":" + params.value[1] + "0" + '<br/>' + "已收集了" + params.value[2] + "/5筆資料"  + '<br/>' + "• 良好-資料丟失率<2.5% (單日)";
       }
        },          
        },
        grid: {
          height: '80%',
          // right: 'center',
          left: '50px',
          top: 'center',
          width: '1100px',
        },
        xAxis: {
          type: 'category',
          data: hours,
          splitArea: {
            show: true,
          },
        },
        yAxis: {
          type: 'category',
          data: mins,
          splitArea: {
            show: true,
          },
        },

        visualMap: {
          min: 0,
          max: 5,
          calculable: true,
          orient: 'vertical',
          left: '1500',
          top: 'center',
          inRange: {
            color: ['#37484C', '#9aa2a4', '#d8dddd', '#E6E8E9'],
          },
          itemStyle: {
            borderColor: '#fff',
          },
        },
        

        series: [
          {
            name: '',
            type: 'heatmap',
            data,
            label: {
              show: true,
            },
            itemStyle: {
              borderWidth: 3,
              borderColor: '#fff',
            },
            emphasis: {
              itemStyle: {
                // shadowBlur: 10,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
                // borderColor: '#fff',
              },
            },
          },
        ],
      }
	// 使用刚指定的配置项和数据显示图表。
	myChart2.setOption(option);
</script>

</body>

</html>