<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="jquery.js"></script>
	<style>
		body {
			margin: 0 auto;
			width: 80%;
		}
		ul {
			position: fixed;
		}
		ul li {
			line-height: 35px;
		}
		.content {
			position: relative;
			left: 200px;
			width: 80%;
		}
		.common-div {
			height: 500px;
			border: 1px solid #eeeeee;
		}
		.common-div a h3:before {
			content: '';
			display: block;
			margin-top: -50px;
			height: 50px;
			visibility: hidden;

		}
	</style>
</head>

<body>
	<ul>
		<li>
			<a href="#first">跳轉至第一段內容</a>
		</li>
		<li>
			<a href="#second">跳轉至第二段內容</a>
		</li>
		<li>
			<a href="#third">跳轉至第三段內容</a>
		</li>
		<li>
			<a href="#fourth">跳轉至第四段內容</a>
		</li>
	</ul>

	<div class="content">
		<div class="common-div">
			<a id="first">
				<h3>第一段內容標題</h3>
			</a>
			<div>第一段內容內容
			</div>
		</div>
		<div class="common-div">
			<a id="second">
				<h3>第二段內容標題</h3>
			</a>
			<div>第二段內容內容
			</div>
		</div>
		<div class="common-div">
			<a id="third">
				<h3>第三段內容標題</h3>
			</a>
			<div>第三段內容內容
			</div>
		</div>
		<div class="common-div">
			<a id="fourth">
				<h3>第四段內容標題</h3>
			</a>
			<div>第四段內容內容
			</div>
		</div>
	</div>
</body>

</html>